192.168.18.131:443 {
  tls internal
  encode zstd gzip
  root * "C:/Users/user/Documents/marco/NODE/PROYECTO KRATOS/frontend/build"

  @static path /static/* /assets/*
  header @static Cache-Control "public, max-age=31536000, immutable"

  handle /static/img/* {
    reverse_proxy 127.0.0.1:5000
  }

  handle /static/* {
    file_server
  }

  handle /api/* {
    reverse_proxy 127.0.0.1:5000
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
