192.168.18.73:443 {
  tls internal

  handle /api/* {
    reverse_proxy 127.0.0.1:5000
  }

  handle {
    root * "G:/PROYECTO KRATOS/frontend/build"
    try_files {path} /index.html
    file_server
  }
}
